<p id="notice"><%= notice %></p>

<h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">AC</th>
      <th scope="col">HP</th>
      <th scope="col">Tags</th>
      <th scope="col">Image</th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.ac %></td>
        <td><%= monster.hp %></td>
        <td><%= monster.tags %></td>
      <% if monster.image.present? %>
        <td><%= image_tag monster.image_url(:small) %></td>
      <% end %>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
