<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>AC:</strong>
  <%= @monster.ac %>
</p>

<p>
  <strong>HP:</strong>
  <%= @monster.hp %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @monster.tags %>
</p>

<p>
  <strong>Image:</strong>
      <% if @monster.image.present? %>
      <%= image_tag @monster.image_url(:large) %>
    <% end %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
