<%= form_with(model: encounter, local: true) do |form| %>
  <% if encounter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encounter.errors.count, "error") %> prohibited this encounter from being saved:</h2>

      <ul>
      <% encounter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :encounter_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :encounter_description %>
  </div>

  <div class="field">
    <%= form.label :monster %>
    <%= form.collection_select :monster, Monster.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :player_character %>
    <%= form.collection_select :playercharacter, PlayerCharacter.all, :id, :character_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
