<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @encounter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @encounter.description %>
</p>

<%= link_to 'Edit', edit_encounter_path(@encounter) %> |
<%= link_to 'Back', encounters_path %>
